@import '../../styles/settings/variables';
@import '../../styles/settings/colors';
@import '../../styles/settings/typography';
@import '../../styles/modules/mixins';

.navbar {
    border: 0;
    display: block;
    left: 0;
    margin: 0;
    min-height: $navbar-height;
    min-width: $app-minimum-width;
    padding: 0;
    position: absolute;
    top: 0;

    .navbar__header {
        background: $navbar-color url('/../../assets/img/bp_logo_white.svg') 15px no-repeat;
        background-size: 120px 25px;
        border: 0;
        float: none;
        height: $navbar-height;
        margin: 0;
        padding: 0;
    }

    .navbar__brand {
        background: $brand-secondary;
        border: 0;
        color: $white;
        display: none; //we don't want to show "blueprint Blueprint". It will be used for other products
        font-size: $font-size-smaller;
        font-weight: $font-weight-semibold;
        height: $navbar-height;
        line-height: $navbar-height;
        margin: 0 0 0 144px;
        padding: 0 32px;
    }

    .navbar__right {
        display: flex;
        flex-flow: row nowrap;
        float: right;
        margin: 0 13px 0 0;
        white-space: nowrap;
    }

    .navbar__welcome {
        color: $white;
        font-size: $font-size-normal;
        font-style: italic;
        font-weight: $font-weight-semibold;
        line-height: $navbar-height;
    }

    .navbar__account {
        margin-left: 4px;

        a {
            display: flex;
            flex-flow: row nowrap;
            text-decoration: none;
        }
    }

    .navbar__name {
        color: $white;
        display: block;
        flex: none;
        font-size: $font-size-normal;
        font-style: normal;
        font-weight: $font-weight-bold;
        line-height: $navbar-height;
    }

    .navbar__avatar {
        flex: none;
        height: 24px;
        margin: 8px;
        width: 24px;

        .avatar__wrapper {
            border-color: $white;
        }

        .avatar__initials {
            font-size: $font-size-smallest;
            height: 100%;
            left: 0;
            line-height: 22px;
            top: 0;
            width: 100%;
        }
    }

    .navbar__help {
        color: $white;
        padding-right: 15px;
    }

    .navbar__question-mark {
        border: solid 2px $white;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        font-size: 14px;
        font-weight: $font-weight-extrabold;
        height: 24px;
        line-height: 20px;
        margin: 8px 0;
        text-align: center;
        width: 24px;
    }

    .navbar__dropdown {
        background: $navbar-color;
        margin-top: 0;
        min-width: 100px;

        @include rounded-corners(0);
    }

    .navbar__dropdown-btn {
        background: transparent;
        border: 0;
        color: $white;
        text-align: left;
        width: 100%;

        &:hover {
            background: $brand-secondary;
            color: $white;
        }

        &:hover,
        &:active,
        &:focus {
            outline: 0;
        }
    }

    .navbar__settings {
        border: solid 2px $white;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        height: 24px;
        line-height: 20px;
        margin: 8px 8px 8px 0;
        text-align: center;
        width: 24px;

        .fonticon2-gear {
            height: 14px;
            line-height: 14px;

            &::before {
                font-size: 14px;
            }
        }
    }

    .dropdown-menu-caret {
        color: $white;
        margin-left: 5px;
    }

    .dropdown-menu-item {
        line-height: 27px;
    }
}

.navbar-generate-icon {
    position: relative;
    left: 4px;
}
