@import '../../styles/settings/variables';
@import '../../styles/settings/colors';
@import '../../styles/settings/typography';
@import '../../styles/modules/mixins';

.bp-sidebar-wrapper {
    display: flex;
    height: calc(100% - #{$toolbar-height});
    width: 100%;
}

.content-center {
    background: $body-bg-color;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.left-panel-visible {
    .sidebar.left-panel {
        margin-left: 0;

        .sidebar-toggle {
            right: -4px;
            transition-duration: .01s;
        }
    }
}

.left-panel-expanded {
    .sidebar.left-panel {
        width: $sidebar-size * 2;
        margin-left: -$sidebar-size * 2;
    }

    &.left-panel-visible {
        .sidebar.left-panel {
            margin-left: 0;
        }
    }
}

.right-panel-visible {
    .sidebar.right-panel {
        .sidebar-toggle {
            left: 7px;
            transition-duration: .01s;
        }
    }
}

.sidebar {
    background: $white;
    display: block;
    flex: none;
    height: 100%;
    position: relative;
    transition: all .4s ease;
    width: $sidebar-size;
    z-index: $zindex-sidebar;

    .sidebar-title {
        background: $brand-secondary;
        box-sizing: border-box;
        color: $white;
        font-size: $font-size-bigger;
        font-weight: 600;
        height: $breadcrumbs-height;
        padding: 13px 15px 0;
    }

    .sidebar-toggle {
        outline: none;
        position: absolute;
        top: 12px;
        transition-duration: .4s;
        transition-property: color, left, right;
        transition-timing-function: steps(1, end);

        &.is-active {
            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                background-color: $white;
            }
        }
    }

    .btn-sidebar-expand {
        outline: none;
        position: absolute;
        top: 15px;
        right: 40px;
        padding: 0;
        color: $white;
        min-width: initial;

        &:hover {
            opacity: 0.7;
        }
    }

    .sidebar-content {
        height: calc(100% - #{$breadcrumbs-height});
    }

    &.left-panel {
        border-right: solid 2px $left-sidebar-border;
        margin-left: -$sidebar-size;

        .sidebar-title {
            padding-right: 36px;
        }

        .sidebar-toggle {
            right: -47px;
        }

        .project-explorer {
            height: 100%;
        }
    }

    &.right-panel {
        margin-right: -$sidebar-size;
        border-left: 1px solid  $gray-lighter;

        .sidebar-content {
            height: calc(100% - #{$breadcrumbs-height});
        }

        .sidebar-title {
            border-left: solid 2px $right-sidebar-border;
            padding-left: 36px;
        }

        .sidebar-toggle {
            left: -50px;
        }
    }
}

.explorer {
    height: 100%;
    display: flex;
    flex-direction: column;

    .ag-group-value {
        padding-right: 0;
    }

    .ag-group-checkbox {
        display: none;
    }
}

.explorer__tree {
    display: block;
    flex-grow: 1;
    height: 0;
}

.explorer__bottom-navbar {
    width: 100%;
    background-color: $gray-lightest;
    display: flex;
    padding: 0 5px;
}

.explorer__bottom-navbar-button {
    border-radius: 0;
    padding: 5px 10px;
    background: transparent;
    box-shadow: none;
    color: $gray-dark;

    &:focus,
    &:active:focus,
    &:hover {
        color: $link-color;
        text-decoration: none;
        outline: none;
        outline-offset: initial;
        background: transparent;
        box-shadow: none;
    }

    &.btn {
        max-width: 80px;
        min-width: 50px;
    }
}

.explorer__bottom-navbar-icons::before {
    font-size: 2.2rem;
}

.explorer__bottom-navbar-button-label {
    font-size: $font-size-smaller;
    line-height: $font-size-smallest;
    white-space: normal;
}

.explorer__jobs {
    text-align: left;
    border-radius: 0;
    padding: 0 10px;

    &:focus,
    &:active:focus,
    &:hover {
        color: $link-color;
        text-decoration: none;
        outline: none;
        background: $blue-lightest;
        outline-offset: initial;

        &:hover {
            text-decoration: underline;
        }
    }
}

.explorer__empty-state {
    padding: 30px 10px;
    text-align: center;
    height: 100%;
    align-items: flex-start;
}

.explorer__empty-state-text {
    font-size: $font-size-normal;
    color: $gray-light;
}
