<div class="page-toolbar__wrapper"></div>
<div class="bp-sidebar-wrapper ng-scope left-panel-visible right-panel-visible">
    <div class="sidebar left-panel">
    </div>
    <div class="content-center">
    </div>
    <div class="sidebar right-panel">
        <button class="sidebar-toggle hamburger hamburger--collapse is-active"
                    type="bytton"
                    (click)="onClick()">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
        </button>
        <div class="sidebar-title">Utility Panel</div>
        <div class="sidebar-content">
            <utility-panel></utility-panel>
        </div>
    </div>
</div>
